#!/bin/bash
# {{ ansible_managed }}

networksetup -setdnsservers "{{ macos_srvr_network_service }}" {% for item in macos_srvr_dns_servers %}{{ item }} {% endfor %}

networksetup -setsearchdomains "{{ macos_srvr_network_service }}" {% for item in macos_srvr_search_domains %}{{ item }} {% endfor %}
