# {{ ansible_managed }}
firewall:rules:_array_index:0:protocols:_array_index:0 = "tcp"
firewall:rules:_array_index:0:ports:_array_index:0 = 22
firewall:rules:_array_index:0:networks:_array_index:0 = "IT Admin User LANs"
firewall:rules:_array_index:0:service = "com.apple.services.ssh"
firewall:rules:_array_index:1:protocols:_array_index:0 = "tcp"
firewall:rules:_array_index:1:ports:_array_index:0 = 5900
firewall:rules:_array_index:1:networks:_array_index:0 = "IT Admin User LANs"
firewall:rules:_array_index:1:service = "com.apple.services.screensharing"
firewall:networkConfigs:_array_index:0:name = "All Networks IPv4"
firewall:networkConfigs:_array_index:0:startAddress = "0.0.0.0"
firewall:networkConfigs:_array_index:0:endAddress = "255.255.255.255"
firewall:networkConfigs:_array_index:1:name = "Private Network 4"
firewall:networkConfigs:_array_index:1:startAddress = "fc00::/7"
firewall:networkConfigs:_array_index:1:endAddress = "fc00::/7"
firewall:networkConfigs:_array_index:2:name = "Private Network 2"
firewall:networkConfigs:_array_index:2:startAddress = "172.16.0.0"
firewall:networkConfigs:_array_index:2:endAddress = "172.31.255.255"
firewall:networkConfigs:_array_index:3:name = "Private Network 1"
firewall:networkConfigs:_array_index:3:startAddress = "10.0.0.0"
firewall:networkConfigs:_array_index:3:endAddress = "10.255.255.255"
firewall:networkConfigs:_array_index:4:name = "User LANs"
firewall:networkConfigs:_array_index:4:startAddress = "172.30.0.0"
firewall:networkConfigs:_array_index:4:endAddress = "172.30.255.255"
firewall:networkConfigs:_array_index:5:name = "This Mac IPv4"
firewall:networkConfigs:_array_index:5:startAddress = "127.0.0.1"
firewall:networkConfigs:_array_index:5:endAddress = "127.0.0.1"
firewall:networkConfigs:_array_index:6:name = "All Networks IPv6"
firewall:networkConfigs:_array_index:6:startAddress = "::/0"
firewall:networkConfigs:_array_index:6:endAddress = "::/0"
firewall:networkConfigs:_array_index:7:name = "This Mac IPv6"
firewall:networkConfigs:_array_index:7:startAddress = "::1/128"
firewall:networkConfigs:_array_index:7:endAddress = "::1/128"
firewall:networkConfigs:_array_index:8:name = "IT Admin User LANs"
firewall:networkConfigs:_array_index:8:startAddress = "172.30.240.0"
firewall:networkConfigs:_array_index:8:endAddress = "172.30.255.255"
firewall:networkConfigs:_array_index:9:name = "Private Network 5"
firewall:networkConfigs:_array_index:9:startAddress = "169.254.0.0"
firewall:networkConfigs:_array_index:9:endAddress = "169.254.255.255"
firewall:networkConfigs:_array_index:10:name = "Private Network 3"
firewall:networkConfigs:_array_index:10:startAddress = "192.168.0.0"
firewall:networkConfigs:_array_index:10:endAddress = "192.168.255.255"
firewall:defaultRule:service = "default"
firewall:defaultRule:networks:_array_index:0 = "All Networks IPv6"
firewall:defaultRule:networks:_array_index:1 = "All Networks IPv4"
network:portMapInfo:status = "STOPPED"
network:portMapInfo:syncState = "CURRENT"
network:portMapInfo:lastError = "NO ERROR"
info:enableARD = yes
info:adminControlListNames = _empty_array
info:enableScreenSharing = yes
info:monitorControlLists = _empty_array
info:volumeList = _empty_array
info:rendezvousName = ""
info:enableACS = yes
info:adminEmail = ""
info:enableSSH = yes
info:enableSNMP = no
info:organizationName = ""
info:enableServerPerformanceMode = no
info:organizationPhone = ""
caching:ListenRangesOnly = no
caching:ListenRanges = _empty_array
caching:CacheLimit = {{ macos_srvr_caching_limit }}
caching:PublicRanges = _empty_array
caching:LocalSubnetsOnly = no
caching:DataPath = "{{ macos_srvr_caching_path }}"
caching:Port = {{ macos_srvr_caching_port }}
