#!/bin/bash
# {{ ansible_managed }}

systemsetup -setcomputername {{ macos_srvr_hostname }}
systemsetup -setlocalsubnetname {{ macos_srvr_fqdn }}
systemsetup -settimezone {{ macos_srvr_timezone }}
systemsetup -setusingnetworktime on
systemsetup -setnetworktimeserver {{ macos_srvr_timeserver }}
systemsetup -setcomputersleep Never
systemsetup -setdisplaysleep 15
systemsetup -setharddisksleep Never
systemsetup -setrestartpowerfailure on
systemsetup -setallowpowerbuttontosleepcomputer off
systemsetup -f -setremotelogin on
systemsetup -setwaitforstartupafterpowerfailure 90
